.config/VintagestoryData/
.config/dconf/
.config/pulse/
.config/neofetch/
.config/irssi/
.config/bashtop/
.config/user-dirs.*
.FBReader
.bash_history*

# sensitive data
.gitconfig

# nope!
Documents/
Downloads/
Pictures/
.java/
.mozilla/
.lesshst
.pki/
.ssh/
.var/
.irssi/
.cache/
.local/
.gnupg/
.parallel/
.bash_history
.rtorrent.rc
.rtorrent/
.wget-hsts
